<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.src.wkday</string>
	<key>category</key>
	<string>Utilities</string>
	<key>connections</key>
	<dict>
		<key>093D2211-32ED-4388-871F-1E82FB9BF4FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C456C548-9BDE-489C-9EFE-B65AB874DDCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36356B5C-D013-4437-B444-FBB8E2ED22ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>093D2211-32ED-4388-871F-1E82FB9BF4FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D436FAD-10C3-4DDD-82A1-DD7CC849C8CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36356B5C-D013-4437-B444-FBB8E2ED22ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4BA3F7E2-7796-49F2-B1A7-D3394A026585</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91A2EC9B-C53E-45B8-A77A-ED1127DCB864</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF5E0DA5-3608-4BF7-B3A6-AF467E7A9B19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D436FAD-10C3-4DDD-82A1-DD7CC849C8CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Get the weekday of a given date</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Get weekday of date</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set theDateText to item 1 of argv	set astid to AppleScript's text item delimiters	set AppleScript's text item delimiters to " "	set theWeekday to the first word of (date string of (date theDateText)) as string	set AppleScript's text item delimiters to astid	return theWeekday
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>093D2211-32ED-4388-871F-1E82FB9BF4FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wkday</string>
				<key>subtext</key>
				<string>E.g., 25/08/2022 (in that format)</string>
				<key>text</key>
				<string>Find the weekday of a given date</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF5E0DA5-3608-4BF7-B3A6-AF467E7A9B19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Ok</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>{var:shortDate} is a {query}</string>
				<key>title</key>
				<string>Find the weekday of a date</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>C456C548-9BDE-489C-9EFE-B65AB874DDCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>shortDate</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>36356B5C-D013-4437-B444-FBB8E2ED22ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/\d{4}$</string>
						<key>outputlabel</key>
						<string>Find weekday</string>
						<key>uid</key>
						<string>4BA3F7E2-7796-49F2-B1A7-D3394A026585</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Input error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6D436FAD-10C3-4DDD-82A1-DD7CC849C8CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Ok</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Please ensure you type the required date in the format dd/mm/yyyy (e.g., 25/08/2022).</string>
				<key>title</key>
				<string>Input error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>91A2EC9B-C53E-45B8-A77A-ED1127DCB864</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Usage

Type the keyword `wkday` followed by &lt;space&gt; and a date in the format dd/mm/yyyy (e.g., 25/08/2022). The dialog will tell you the weekday of the given date.

A regular expression checks for the correct input format.</string>
	<key>uidata</key>
	<dict>
		<key>093D2211-32ED-4388-871F-1E82FB9BF4FD</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>36356B5C-D013-4437-B444-FBB8E2ED22ED</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>6D436FAD-10C3-4DDD-82A1-DD7CC849C8CF</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>91A2EC9B-C53E-45B8-A77A-ED1127DCB864</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C456C548-9BDE-489C-9EFE-B65AB874DDCF</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>DF5E0DA5-3608-4BF7-B3A6-AF467E7A9B19</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The default keyword to run this workflow is "wkday". You can change it here.</string>
			<key>label</key>
			<string>Workflow keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string></string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
